@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black bg-slate-50 font-sans;
}

input {
  @apply text-black;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="time"]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
  }
}
